<div class="container">
  <div class="h5 my-4">Product Detail</div>
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-12 col-md-3 mb-4 mb-md-0">
        <div class="row">
          <div class="col-4">
            <img
              class="img-fluid"
              src="{{ position?.avatar }}"
              alt="{{ position?.customer }}"
            />
          </div>
          <div class="col-8">
            <div class="row">
              <div class="col-12 position-detail__name">
                {{ position?.machine_no }}
              </div>
              <!-- <div class="col-12 position-detail__designation">
                        {{ position?.designation }}
                      </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3 mb-4 mb-md-0">
        <div class="row mb-4">
          <div class="col-12 position-detail__property">
          Customer
          </div>
          <div class="col-12 position-detail__value">
            {{ position?.customer }}
          </div>
        </div>
        <div class="row">
          <div class="col-12 position-detail__property">
            Added On
          </div>
          <div class="col-12 position-detail__value">
            {{ position?.createdAt | date: "longDate" }}
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3 mb-4 mb-md-0">
        <div class="row mb-4">
          <div class="col-12 position-detail__property">
            UIN
          </div>
          <div class="col-12 position-detail__value">
            {{ position?.UIN }}
          </div>
        </div>
        <div class="row">
          <div class="col-12 position-detail__property">
           Width
          </div>
          <div class="col-12 position-detail__value">
            {{ position?.width }}
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3 mb-4 mb-md-0">
        <div class="row mb-4">
          <div class="col-12 position-detail__property">
           Length
          </div>
          <div class="col-12 position-detail__value">
            {{ position?.length }}
          </div>
        </div>
        <div class="row">
          <div class="col-12 position-detail__property">
            Expected Rolls
          </div>
          <div class="col-12 position-detail__value">
            {{ position?.expected_rolls }}
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center my-5">
      <div class="col-4 col-sm-2">
        <a routerLink="edit"><button class="c-btn px-4">Edit</button></a>
      </div>
      <!-- <div class="col-4 col-sm-2">
                <a routerLink="attendance"
                  ><button class="c-btn px-4">Attendance</button></a
                >
              </div> -->
    </div>
  </div>
</div>
